/* 
    Document   : Style
    Created on : 29-ene-2014, 10:17:59
    Author     : alumno
    Description:
        Purpose of the stylesheet follows.
*/

body{
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
ul{
    text-decoration: none;
    list-style: none;
    height: 40px;
     background: -moz-linear-gradient(top, #00f75e 0%, #596a72 9%, #cedce7 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00f75e), color-stop(9%,#596a72), color-stop(99%,#cedce7));
   
}
li{
    float:left;
    padding:10px;
    height: 40px;
}
h5{
    border-top: solid 3px #596a72;
    border-bottom: solid 3px #596a72;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
  
}


#topbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    z-index: 200;
    background: -moz-linear-gradient(top, #cedce7 1%, #596a72 91%, #00f75e 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#cedce7), color-stop(91%,#596a72), color-stop(99%,#00f75e)); /* Chrome,Safari4+ */
}
#logotopbar{
    float:left;
    height: 50px;
    width: 350px;
    background-image: url(../Img/logo.png);
    background-repeat:no-repeat;
}
#footer{
    clear: both;
    width: 100%;
    height: 100px;
    margin-top: 60px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background: -moz-linear-gradient(top, #00f75e 0%, #596a72 9%, #cedce7 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00f75e), color-stop(9%,#596a72), color-stop(99%,#cedce7)); /* Chrome,Safari4+ */
}
#columnder{
    float: right;
    width: 95%;
    border: solid 1px #596a72;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 25px;
    height: 600px;
    
}


#carro{
    background-image: url(../Img/carro.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    float:right;
    width:8%;
    height: 50px; 
}
#carro:hover{
    background-image: url(../Img/carro1.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    float:right;
    width:8%;
    height: 50px;
}
#user{
    background-image: url(../Img/icon/user.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    float:right;
    width:7%;
    height: 50px; 
}
#user:hover{
    background-image: url(../Img/icon/user1.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    float:right;
    width:7%;
    height: 50px; 
}




.iconfooter{
    width: 30px;
    height: 30px;
    margin: 0 15px;
}


